*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.container{
    width: 70%;
    margin: 2rem auto;
    background-color: rgb(2, 2, 136);
}

.row{
    display: flex;
    justify-content: space-between;
}

.content{
    color: #fff;
    padding: 2rem;
}

.list-style{
    list-style-type: none;
}

.content .padding{
    padding: 1.3rem;
}

.content li{
    padding: 1rem 0;
}

.content button{
    padding: 5px 7px;
    font-size: 1rem;
    background-color: brown;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.content button:nth-child(2){
    background-color: rgb(247, 169, 0);
}

.content .btn-blue{
    background-color: rgb(0, 128, 255);
}

.content .btn-black{
    background-color: rgb(33, 33, 33);
    padding: 5px 8px;
}


.col-12{
    width: 100%;
}

.input-text{
    width: 100%;
}

.content .button-padding{
    padding: 10px;
    background-color: rgb(0, 128, 255);
}

@media screen and (max-width: 670px){
    *{
        font-size: 10px;
    }

    .content .padding{
        padding: 1.5rem 0;
    }

    h1{
        font-size: 3rem;
    }
}
