<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>vue-todolist</title>
</head>

<body>

    <div id="app">
        <h1>Todolist</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content">
                        <ul class="list-style">
                            <div v-if="tasks.length === 0">
                                <h2>Non ci sono più task</h2>
                            </div>
                            <li class="padding" v-for="(task, index) in tasks">
                                <div v-if="task.edit_enabled">
                                    <input type="text" v-model="task.text" @keyup.enter="edit_task(index)">
                                </div>
                                <div v-else :class="{ 'completed-task': task.done }">
                                    {{ task.text }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="content">
                        <ul class="list-style">
                            <li v-for="(task, index) in tasks">
                                <button :class="task.done ? 'btn-blue' : 'btn-black'" @click="status(index)">
                                    <i class="fa-solid" :class="task.done ? 'fa-check' : 'fa-x'"></i>
                                </button>
                                <button @click="edit_task(index)">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button @click="deleteTask(index)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <input class="input-text" type="text" name="edit_task" placeholder="Nuova task..." v-model="newTask" @keyup.enter="addTask">
                    </div>
                </div>
                <div class="col">
                    <div class="content">
                        <button class="button-padding" @click="addTask">Invia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>